asgiref==3.6.0
autopep8==2.0.1
distlib==0.3.6
Django==4.2.1
filelock==3.10.2
mpmath==1.2.1
mysql-connector-python==8.0.32
Panda3D==1.10.13
panda3d-gltf==0.14
panda3d-simplepbr==0.10
Pillow==9.4.0
platformdirs==3.1.1
protobuf==3.20.3
pycodestyle==2.10.0
pyperclip==1.8.2
sqlparse==0.4.3
sympy==1.11.1
tomli==2.0.1
tzdata==2022.7
ursina==5.2.0
virtualenv==20.21.0
